/* Start Variables */
:root {
  --main-color: #f5a23f;
  --main-color-alt: ;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 50px;
  --section-background: #ececec;
  --main-line-height: 2;
}

/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  position: relative;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

::-moz-selection {
  background-color: var(--main-color);
  color: white;
}

::-webkit-selection {
  background-color: var(--main-color);
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  margin-bottom: var(--main-padding-bottom);
  font-weight: bold;
}
/* End Global Rules */

/* Start header */
header {
  background-color: white;
  color: #333;
  padding: 15px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transition: top 0.3s ease-in-out;
  top: 0;
}

header .container {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  header .container {
    justify-content: space-between;
  }
}

header .logo img {
  width: 110px;
}

header .container nav {
  flex: 1;
}

header .container nav .logo {
  display: none;
}

header .container .bars {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: var(--main-transition);
}

header .container .bars:hover {
  background-color: #f6f4ff;
}

header .container .bars div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background-color: #212526;
}

@media (max-width: 1200px) {
  header .container .bars {
    display: block;
  }
}

@media (max-width: 1200px) {
  header .container nav {
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 9999999;
    padding-top: 20px;
    padding-right: 10px;
    width: 280px;
    height: 100vh;
    background-color: white;
    transition: var(--main-transition);
    box-shadow: 2px 0 20px 0 rgb(0, 0, 0, 0.05);
  }
  header .container nav .logo {
    display: block;
    width: 110px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  header .container .nav-en {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 9999999;
    padding-top: 20px;
    padding-right: 10px;
    width: 280px;
    height: 100vh;
    background-color: white;
    transition: var(--main-transition);
    box-shadow: 2px 0 20px 0 rgb(0, 0, 0, 0.05);
    /* animation-duration: ; */
  }
  header .container .nav-en .logo {
    display: block;
    width: 110px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  header .container .bars {
    display: block;
  }
  header .container nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .container nav ul li {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #333;
  font-weight: 500;
  transition: var(--main-transition);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
}

body.menu-open {
  overflow: hidden;
}
/* End header */

/* Start Landing */

.landing {
  position: relative;
}

.landing .landing-image {
  background-image: url(../Image/landing-page-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}

@media (max-width: 767px) {
  .landing .landing-image {
    width: 100%;
    background-image: url(../Image/landing-page-2.jpg);
    background-size: cover;
    height: 50vh !important;
  }
}

@media (max-width: 991px) {
  .landing .landing-image {
    height: 80vh;
  }
}
/* End Landing */
/* Start definition */

.definition {
  background-image: url(../image/الخلفية-02-min.jpg);
  background-size: cover;
  position: relative;
  height: 400px;
}

@media (max-width: 767px) {
  .definition {
    background-image: url(../image/الخلفية-02-min.jpg);
    background-size: cover;
    position: relative;
    height: 500px;
  }
}

.definition::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 70%);
}

.definition .def {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  top: 20%;
  line-height: var(--main-line-height);
}

@media (max-width: 767px) {
  .definition .def {
    width: 100%;
    top: 15%;
  }
}

.definition .def p {
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

.definition .def h4 {
  font-size: 28px;
  font-weight: 600;
}
/* End definition */

/* Start Services */

.services {
  padding-top: var(--main-padding-top);
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin: 0 auto;
}

.services .container .services-img {
  margin: 0 auto;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .container .services-img img {
  width: 50%;
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
}

.services .container .services-img:hover {
  transform: translateY(-10px);
}

/* End Services */

/* Start Advantages */

.advantages {
  padding-top: var(--main-padding-top);
  position: relative;
}

.advantages .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 991px) {
  .advantages .container {
    flex-direction: column;
  }
  .advantages .container .image img {
    width: 100%;
  }
  .advantages .container .our-advantages {
    margin: 10%;
  }
}

.advantages .container .our-advantages {
  line-height: var(--main-line-height);
}

.advantages .container .our-advantages h4 {
  font-size: 28px;
  font-weight: 600;
  color: #222222;
}

.advantages .container .our-advantages p {
  color: #a1a1a1;
  font-size: 18px;
}

/* End Advantages */
/* Start Latest Business */

.latest-business {
  padding-top: var(--main-padding-top);
  position: relative;
}

.latest-business .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin: 0 auto;
  overflow: hidden;
}

.latest-business .container .image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.latest-business .container .image img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
  transition: transform 0.3s ease;
}

@media (max-width: 767px) {
  .latest-business .container .image img {
    width: 90%;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color;
  }
}

.latest-business .container .image:hover img {
  transform: scale(1.05);
}

/* .latest-business .container .image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    45deg,
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%)
  );
}

@media (max-width: 767px) {
  .latest-business .container .image:hover::before,
  .latest-business .container .image:hover::after {
    display: none;
  }
} */

.latest-business .container .image:hover::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  z-index: 11;
  opacity: 80%;
}

.latest-business .view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 10px;
}

.latest-business .view-all button {
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* CSS لنافذة العرض المكبرة */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-content {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  transform: scale(1); /* تكبير ابتدائي */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* انتقال تدريجي للتكبير والشفافية */
  opacity: 0; /* بدء بشفافية منخفضة */
}

/* CSS لزر الإغلاق */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* CSS لأزرار الأسهم */
.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.prev {
  left: 20px;
  transform: rotate(180deg);
}

.next {
  right: 20px;
  transform: rotate(180deg);
}

.prev:hover,
.next:hover {
  color: #ccc;
}

/* CSS لأزرار الزيادة والتصغير */
.fill-screen {
  position: absolute;
  font-size: 24px;
  color: white;
  cursor: pointer;
  align-items: center;
  z-index: 999;
}

.fill-screen {
  top: 25px;
  right: 60px;
}

/* End Latest Business */

/* Start Customers */

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper .container {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .wrapper .container {
    width: 100%;
  }
}

.wrapper .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.wrapper i {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:hover {
  color: var(--main-color);
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: 10%;
}

.wrapper i:last-child {
  right: 10%;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  padding-bottom: 15px;
}

.carousel .card .img {
  height: 100px;
  width: 80%;
}

.card .img img {
  width: 70%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
  opacity: 80%;
  transition: var(--main-transition);
}

.card .img img:hover {
  opacity: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 4));
  }
}

@media screen and (max-width: 991px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3));
  }
}

@media screen and (max-width: 767px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2));
  }
}
/* End Customers */

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.stats .contant {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .stats .contant {
    flex-direction: column;
    margin: 0 auto;
  }
  .stats .contant .customers-number,
  .stats .contant .project-number,
  .stats .contant .year-number {
    width: 90% !important;
  }
  .stats .contant {
    background-color: white;
  }
  .stats .contant .customers-number:hover,
  .stats .contant .project-number:hover,
  .stats .contant .year-number:hover {
    transform: none !important;
  }
}

.stats .contant .customers-number,
.stats .contant .project-number,
.stats .contant .year-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  gap: 20px;
  border: 1px solid #a2a2a2;
  transition: var(--main-transition);
  background-color: white;
}

.stats .contant .customers-number:hover,
.stats .contant .project-number:hover,
.stats .contant .year-number:hover {
  transform: scale(0.85);
}

.stats .contant .customers-number i,
.stats .contant .project-number i,
.stats .contant .year-number i {
  font-size: 70px;
  color: var(--main-color);
}

.stats .contant .customers-number span,
.stats .contant .project-number span,
.stats .contant .year-number span {
  font-size: 50px;
  font-weight: 600;
}

.stats .contant .customers-number p,
.stats .contant .project-number p,
.stats .contant .year-number p {
  color: #a2a2a2;
  font-size: 20px;
}

.stats .contant .customers-number:hover p,
.stats .contant .project-number:hover p,
.stats .contant .year-number:hover p {
  color: var(--main-color);
}
/* End Stats */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .title {
  justify-content: flex-start;
  margin-bottom: 50px;
}

.articles .container .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

@media (max-width: 991px) {
  .articles .container .content {
    flex-direction: column;
  }
  .articles .container .content .art {
    width: 80% !important;
  }
}

.articles .container .content .art {
  width: 25%;
}

.articles .container .content .art img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
  margin-bottom: 10px;
  cursor: pointer;
}

.articles .container .content .art h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.articles .container .content .art h4:hover {
  color: var(--main-color);
}

.articles .container .content .art p {
  color: #a2a2a2;
}

.articles .container .content .art p span {
  cursor: pointer;
}

.articles .container .content .art p span:hover {
  color: var(--main-color);
}
/* End Articles */

/* Start Contact us */
.contact-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: #eee;
}

.contact-us .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contact-us .container .form form .name,
.contact-us .container .form form .email,
.contact-us .container .form form .phone,
.contact-us .container .form form .msg,
.contact-us .container .form form .sub {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.contact-us .container .form form input:last-child,
.contact-us .container .form form textarea,
.contact-us .container .form form #submit {
  align-self: flex-start;
}

.contact-us .container .form form input,
.contact-us .container .form form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 7px;
}

@media (max-width: 767px) {
  .contact-us .container .form form input,
  .contact-us .container .form form textarea {
    width: 400px !important;
  }
  .contact-us .container .form form textarea {
    min-width: 90% !important;
  }
}

@media (max-width: 480px) {
  .contact-us .container .form form input,
  .contact-us .container .form form textarea {
    width: 250px !important;
  }
}

.contact-us .container .form form textarea {
  min-height: 100px;
  min-width: 600px;
  max-width: 600px;
}

.contact-us .container .form form .char-counter {
  color: rgb(131, 127, 127);
  font-size: 12px;
  margin-top: 5px;
}

.contact-us .container .form form input:focus,
.contact-us .container .form form textarea:focus {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.contact-us .container .form form label {
  color: rgb(131, 127, 127);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.contact-us .container .form form .name label::after,
.contact-us .container .form form .email label::after {
  content: "*";
  color: red;
  margin-right: 5px;
}

.contact-us .container .form form .sub {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.contact-us .container .form form #submit {
  padding: 10px 20px;
  width: auto;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: darkred;
  background-color: #ffe5e5;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
}

.error + label::before {
  content: "";
  color: red;
}
/* End Contact us */
/* Start Footer */
footer {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

footer .container .logo {
  margin-bottom: 10px;
}

footer .container .logo img {
  display: block;
  margin: 0 auto 30px;
  width: 110px;
  max-width: 100%;
}

footer .container .contact {
  display: flex;
  align-items: center;
  gap: 400px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  footer .container .contact {
    flex-direction: column;
    gap: 20px;
  }
}

footer .container .contact .phone p {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

footer .container .contact .phone p::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

footer .container .contact .phone p:hover::before {
  transform: scaleX(1);
}

footer .container .social {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
}

footer .container .social i:hover {
  color: black;
  cursor: pointer;
}

footer .container .end {
  text-align: center;
  line-height: var(--main-line-height);
}
/* End Footer */

/* Start Contact Us In WhatsApp */
.whatsApp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #eee;
  border-radius: 45px;
  z-index: 100000;
}

.whatsApp .contant a {
  display: flex;
  align-items: center;
}

.whatsApp .contant span {
  font-size: 14px;
  padding: 0 5px;
  color: #a1a1a1;
}
/* End Contact Us In WhatsApp */

/* Start Scroll To Top */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 10px 13px;
  font-size: 20px;
  cursor: pointer;
  display: none;
  z-index: 999;
  background-color: #d72498;
}
/* End Scroll To Top */

/* Start Global Role In Business Page And Articles Page (Landing) */
.land {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Image/Untitled-1-1.png");
  background-size: cover;
  background-position: center;
  background-position-y: 60px;
}

.land .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.land .title {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.land .all {
  font-size: 14px;
}

.land .link {
  color: inherit;
}

.land .link::before {
  content: "";
  width: 25%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.land .link:hover:before {
  transform: scaleX(1);
}

.land .link1::before {
  width: 20% !important;
}

.land .arrow {
  font-size: 30px;
  margin: 0 10px;
}

/* End Global Role In Business Page And Articles Page (Landing) */

/* Start Latest Business */

.business {
  margin-bottom: calc(var(--main-padding-bottom) * 3);
  padding-top: var(--main-padding-top);
  position: relative;
}

.business .title {
  justify-content: flex-start;
}

.business .contant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin: 0 auto;
}

.business .container .contant .image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.business .container .contant .image img {
  width: 100%;
  max-width: 100%;
  height: auto; /* تمكين تعديل الارتفاع تلقائيًا */
  mix-blend-mode: color;
  transition: transform 0.3s ease;
}

.business .container .contant .image:hover img {
  transform: scale(1.05);
}

/* تحديد حجم الطبقة بالتزامن مع الصورة وتخفي الزيادة خارج الصورة */
.business .container .contant .image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(
    45deg,
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(226, 20, 106, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%),
    rgba(218, 160, 104, 90%)
  );
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 767px) {
  .business .container .image:hover::before,
  .business .container .image:hover::after {
    display: none;
  }
}

.business .container .contant .image:hover::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  z-index: 11;
  opacity: 80%;
}

/* End Latest Business */
/* Latest Business */

.articles1 {
  margin-bottom: 200px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles1 .container .title {
  justify-content: flex-start;
  margin-bottom: 50px;
}

.articles1 .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 10px;
}

.articles1 .content .art {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .articles1 .content .art {
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 5px;
  }
}

.articles1 .content .art {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.articles1 .container .content .art img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
  margin-bottom: 10px;
  cursor: pointer;
}

.articles1 .container .content .art h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.articles1 .container .content .art h4:hover {
  color: var(--main-color);
}

.articles1 .container .content .art p {
  color: #a2a2a2;
}

.articles1 .container .content .art p span {
  cursor: pointer;
}

.articles1 .container .content .art p span:hover {
  color: var(--main-color);
}

.foot-art,
.foot-bus {
  border-top: 1px solid #333;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.pagination .arrow {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.pagination .arrow:hover {
  color: var(--main-color);
}

#pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  color: #a9a2a2;
}

#pagination a:hover {
  background-color: var(--main-color);
  color: white;
}

#pagination a.active {
  background-color: #f5a23f;
  color: #fff;
}

/* 
اعمل ال landing في الصفحتين 
اعمل المقالات الي بالصفحة الي لحالهم 
حط hr فوق ال فوتر بالصفحتين 
اعمل تكبير الشاشة من الفيديوهات الي بالاخر 
*/
